<div class='container budget-calc'>
  {{language-select changeLang=(action 'changeLang')}}
  <h3>{{t 'SBC.budget'}}</h3>
  <h6 class="project-code">CODE: {{projectCode}}</h6>
  <!--
  <div class='budget-calc-revisions u-pull-right'>
    {{ember-selectize
        content=revisions
        multiple=false
        optionValuePath="content.id"
        optionLabelPath="content.name"
        selection=selectedRevision
        placeholder="Revisions" }}
  </div>
  -->
  <p class='subtitle'>
    {{t 'SBC.helpMsg'}} {{fa-icon "question"}}
  </p>
  <h6>{{t 'SBC.projectName'}}</h6>
  {{input type='text' value=projectName placeholder=(t 'SBC.projectName') }}
  <hr>

  <h6>{{t 'SBC.views'}}: 
    <span class="u-pull-right" {{action 'showInfo' 'views'}}>
      {{fa-icon "question" class="green-icon"}}
    </span>
  </h6>
  {{input
    disabled=true
    class='budget-calc-views' type='number' value=formObj.nViews placeholder=(t 'SBC.views') }}

  <hr>
  <h6>{{t 'SBC.models'}}: 
    <span class="u-pull-right" {{action 'showInfo' 'models'}}>
      {{fa-icon "question" class="green-icon"}}
    </span>
  </h6>
  {{input disabled=true class='budget-calc-models' type='number' value=formObj.nModels placeholder=(t 'SBC.models') }}
  <hr>

  <h6>{{t 'SBC.relationships'}}: 
    <span class="u-pull-right" {{action 'showInfo' 'relationships'}}>
      {{fa-icon "question" class="green-icon"}}
    </span>
  </h6>
  MM: {{input disabled=true class='small-text-input budget-calc-relationships' 
        type='text' value=formObj.nMM placeholder=(t 'SBC.relationships') }}
  OO: {{input disabled=true class='small-text-input' 
        type='text' value=formObj.nOO placeholder=(t 'SBC.relationships') }}
  OM: {{input disabled=true class='small-text-input' 
        type='text' value=formObj.nOM placeholder=(t 'SBC.relationships') }}
  <hr>

  <h6>{{t 'SBC.mailers'}}: 
    <span class="u-pull-right" {{action 'showInfo' 'mailers'}}>
      {{fa-icon "question" class="green-icon"}}
    </span>
  </h6>
  {{input disabled=true class='budget-calc-mailers' type='text' value=formObj.nMailers placeholder=(t 'SBC.mailers') }}
  <hr>
  
  <h6>{{t 'SBC.authentication'}}: 
    <span class="u-pull-right" {{action 'showInfo' 'authentication'}}>
      {{fa-icon "question" class="green-icon"}}
    </span>
  </h6>
  <p class='subtitle'>{{t 'SBC.multiSelection'}}</p>
  {{input disabled=true class='budget-calc-authentication-simple' type="checkbox" 
    checked=formObj.login.simple}} {{t 'SBC.authSimple'}}
  {{input disabled=true type="checkbox" checked=formObj.login.complete}} {{t 'SBC.authComplete'}}<br>
  {{input disabled=true type="checkbox" checked=formObj.login.facebook}} {{t 'SBC.authFacebook'}}
  {{input disabled=true type="checkbox" checked=formObj.login.google}} {{t 'SBC.authGoogle'}}
  <hr>

  <h6>{{t 'SBC.appType'}}: 
    <span class="u-pull-right" {{action 'showInfo' 'appType'}}>
      {{fa-icon "question" class="green-icon"}}
    </span>
  </h6>
  <p class="subtitle">{{t 'SBC.multiSelection'}}</p>
  {{input disabled=true class='budget-calc-appType' type="checkbox" checked=formObj.appType.mobile}} Mobile
  {{input disabled=true type="checkbox" checked=formObj.appType.web}} Web
  {{input disabled=true type="checkbox" checked=formObj.appType.wMobile}} Web mobile<br>
  {{input disabled=true type="checkbox" checked=formObj.appType.desktop}} Desktop
  {{input disabled=true type="checkbox" checked=formObj.appType.API}} API
  <hr>

  <h6>{{t 'SBC.forms'}}: 
    <span class="u-pull-right" {{action 'showInfo' 'formObjs'}}>
      {{fa-icon "question" class="green-icon"}}
    </span>
  </h6>
  {{input disabled=true class="budget-calc-formObjs" type='text' value=formObj.nForms placeholder=(t 'SBC.forms') }}
  <hr>

  <h6>{{t 'SBC.realTime'}}: 
    <span class="u-pull-right" {{action 'showInfo' 'realTime'}}>
      {{fa-icon "question" class="green-icon"}}
    </span>
  </h6>
  {{input disabled=true class="budget-calc-realTime" type="checkbox" checked=formObj.ws.basic}} {{t 'SBC.rtBasic'}} 
  {{input disabled=true class="budget-calc-realTime-dyn" type="checkbox" checked=formObj.ws.dyn}} {{t 'SBC.rtWSDyn'}} 
  {{input disabled=true type="checkbox" checked=formObj.ws.fix}} {{t 'SBC.rtWSFix'}}
  {{input disabled=true disabled=nChannelsDisabled type='text' value=formObj.ws.channels placeholder="Channels"}}
  <hr>

  <h6>{{t 'SBC.int'}}: 
    <span class="u-pull-right" {{action 'showInfo' 'int'}}>
      {{fa-icon "question" class="green-icon"}}
    </span>
  </h6>
  {{input disabled=true class="budget-calc-int" type="checkbox" checked=formObj.int.none}} {{t 'SBC.intNone'}}
  {{input disabled=true class="budget-calc-int-i18n" type="checkbox" checked=formObj.int.i18n}} {{t 'SBC.intI18n'}}
  <hr>

  <h6>{{t 'SBC.support'}}: 
    <span class="u-pull-right" {{action 'showInfo' 'support'}}>
      {{fa-icon "question" class="green-icon"}}
    </span>
  </h6>
  {{input disabled=true class="budget-calc-support" type="checkbox" checked=formObj.support.basic}} {{t 'SBC.supBasic'}}
  {{input disabled=true type="checkbox" checked=formObj.support.complete}} {{t 'SBC.supComplete'}}
  <hr>

  <h6>{{t 'SBC.upload'}}: 
    <span class="u-pull-right" {{action 'showInfo' 'upload'}}>
      {{fa-icon "question" class="green-icon"}}
    </span>
  </h6>
  {{input disabled=true class="budget-calc-upload" type="checkbox" checked=formObj.uploadNone}} {{t 'SBC.uploadNone'}}
  {{input disabled=true class="budget-calc-upload-image" type="checkbox" checked=formObj.upload.image}} {{t 'SBC.uploadImage'}} 
  {{input disabled=true type="checkbox" checked=formObj.upload.text}} {{t 'SBC.uploadFile'}} 
  {{input disabled=true type="checkbox" checked=formObj.upload.imageComp}} {{t 'SBC.uploadSupImage'}}<br>
  {{input disabled=true type="checkbox" checked=formObj.upload.fileComp}} {{t 'SBC.uploadSupComp'}}
  <hr>
  {{#if msgs}}
    <ul>
      {{#each msgs as |msg|}}
        <li>{{msg}}</li>
      {{/each}}
    </ul>
  {{/if}}
  <!--
    <button {{action "save" }}>{{t 'SBC.saveButton'}}</button>
  -->
</div>
<div id='test-total-value' 
  class="total-value">
  <p>{{t 'SBC.totalValue'}}</p>
  <h4>≈ ({{calc.startValue}} {{t 'SBC.currency'}}) {{calc.totalValue}} {{t 'SBC.currency'}}</h4>
</div>
<div data-test-selector='total-time' 
  class="total-time">
  <p>{{t 'SBC.totalTime'}}</p>
  <h4>≈ ({{calc.startTime}} h) {{calc.totalTime}} h</h4>
</div>
